*{margin: 0; padding: 0;}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#fundo{
    margin: auto;
    height: 600px;
    width: 1200px;
    background-color: #dcd6ca;
    padding-top: 50px;
}
#tela{
    margin-left: 50px;
    width: 600px;
    height: 500px;
    background-color: #d0d0d0;
    border: 5px solid black;
}
#botoes{
    float: right;
    margin-top: -500px;
    margin-right: 50px;
    width: 400px;
    height: 500px;
    background-color: #474141;    
}
#espace{
    padding-top: 50px;
    padding-left: 10px;
    margin: auto;
    width: 260px;
    height: 200px;
}
.btn{
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 80px;
    background-color: black;
    color: white;
    margin-bottom: 2px;
    margin-right: 2px;
}
#texto{
    width: 100%;
    height: 50px;
    background-color: white;
}
.btnfim{
    margin-top: 100px;
    margin-left: 50px;
}
#btnfim{
    cursor: pointer;
    width: 100px;
    height: 50px;
}
h2{
    margin-left: 130px;
}
p{
    padding: 5px;
}
#numero{
    margin-left: 80px;
    height: 64px;;
    width: 26%;
}
.campo1, .campo2{
    width: 50px;
    height: 60px;
    border: 2px solid black;
}
.campo2{
    margin-top: -64px;
    margin-left: 60px;
}
#cand{
    width: 204px;
    background-color: white;
    text-align: center;
}
#vice-cand{
    margin-top: -108px;
    margin-left: -5px;
    width: 154px;
    height: 172px;
    background-color: white;
    text-align: center;    
}
#foto{
    margin-top: -64px;
    margin-right: 8px;
    float: right;
    width: 200px;
    height: 200px;
}
#foto-vice{
    margin-right: 2px;
    margin-top: 2px;
    float: right;
    width: 150px;
    height: 150px;
}
#foton{
    float: right;
    width: 200px;
    height: 200px;
    border: 2px solid white;  
}
#txt{
    font-size: 36px;
    margin-left: 5px;
}
#hr{
    height: 2px;
    background-color: black;
    margin-top: 50px;
}
#final{
    padding: 3px;
}